*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

.container{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container h1{
	font-family: 2rem;
	color: white;
	font-weight: 700;
	margin-top: -100px;
	margin-bottom: 40px;
}

span{
background-image:linear-gradient(100deg,
                    rgba(245, 70, 66, 0.85),
                    rgba(8, 83, 156, 0.95));
    color:#240b3b;
	box-shadow:0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
	padding: 10px;
	border-radius: 20px;
}
.textalign{
	text-align: center;
}
.container i{
	color: #38125d;
	transform: rotate(320deg);
}

textarea{
	
	height: 100%;
	width: 30%;	
	border-radius:5px;
	box-shadow:0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
      color: white;
      padding: 10px;
      text-decoration: none;
      cursor: pointer;
      border: none;
      font-weight: 200;
      font-size: 1rem;
      background-color:rgba(0, 0, 0, 0.4);
               
  }

.row{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top:20px;
}

select{
	flex: 1;
	color: white;
	height: 40px;
	width: 50%;
	padding: 0 20px;
	outline: 0;
	border: 0;
	border-radius: 10px;
	box-shadow:0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
    background-color:rgba(0, 0, 0, 0.5);
}

.btn{
	width:30%;
	display: flex;
	justify-content: center;
	align-items: center;
	height:auto;
	background: transparent;
	border: 2px solid black;
	border-radius: 20px;
	margin-top: 15px;
	padding: 10px;
	font-weight:700;
	font-size:1rem;
	color: white;
	outline: 0;
	box-shadow:0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
    background-color:rgba(0, 0, 0, 0.9);

}

.btn i {
	transform: rotate(0deg);
	margin-right: 8px;
}





@media screen and (max-width:1250px){
	.container h1{
		font-size: 2rem;
	}

	textarea{
		width: 60%;
		height: 100%;
		font-size: 1.1rem;
	}

	.btn{
		width: 50%;
		font-size: 1.1rem;
		min-width: auto;
	}
	select{
		width: 70%;
		min-width: auto;
	}
}





@media screen and (max-width:900px){
	.container h1{
		font-size:2rem;
	}

	textarea{
		width: 70%;
		height: 100%;
		font-size: 1.1rem;
	}

	.btn{
		width: 50%;
		font-size: 1.1rem;
		min-width: auto;
	}
	select{
		width: 70%;
		min-width: auto;
	}
}





@media screen and (max-width:575px){
	.container h1{
		font-size: 1.5rem;
	}

	textarea{
		width: 90%;
		height: 100%;
		font-size: 1.1rem;
	}

	.btn{
		width: 50%;
		min-width: auto;
		font-size: 1.1rem;
	}
	select{
		width: 70%;
		min-width: auto;
	}
}




@media screen and (max-width:357px){
	.container h1{
		font-size: 1.2rem;
	}

	textarea{
		width: 90%;
		height: 100%;
		font-size: 1.1rem;
	}

	.btn{
		width: 50%;
		min-width: auto;
		font-size: 1.1rem;
	}
	select{
		width: 70%;
		min-width: auto;
	}
}


